// dependencies
@use 'sass:map';
// colors
@use '../constants/colors' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$scrollbar--width:                  0.8rem;
$scrollbar-thumb--color:            map.get( $colors, 'green', 3 );
$scrollbar--background-color:       map.get( $colors, 'green', 1 );
$scroll-bar-thumb--border-radius:   20px;

/*--------------------------------------------------------------
# Styling
    Only applies to main scrollbar, not mini scrollbars in sub-components
    Put a '*' in front of the '::' for all properties if you want scrollbar styling to apply to sub-components
--------------------------------------------------------------*/
/* CHROME, EDGE, SAFARI */
::-webkit-scrollbar {
    width: $scrollbar--width; // width of the ENTIRE scrollbar - including thumb
}

::-webkit-scrollbar-track {
    background: $scrollbar--background-color; // background color of the scroll bar
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb--color; // color of the scroll thumb
    border-radius: $scroll-bar-thumb--border-radius; // roundness of the scroll thumb
    // border: 1px solid orange; // border of the scroll thumb
}