/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$breakpoint--large:                 1025px;      // anything under is not a desktop   
$breakpoint--medium:                800px;       // anything under is not a tablet
$breakpoint--small:                 600px;       // anything is under is a mobile device